:root { --p: #152130; --s: #99a6ba; --d: #e74c3c; }

body{
   font-family: cursive;
    background: #eee;
    margin: 0;
}

header{
    background: var(--p);
    color: #c4cad3;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px;
    height: 10vh;
}

header a{
    text-decoration: none;
    color: #c4cad3;
    text-transform: uppercase;
}

#menuCadastro {
    text-align: center;
    display: flex;
    gap: 20px;
}

button{
    height: 30px;
    width: 150px;
    cursor: pointer;
    border: solid;
    background: var(--p);
    color: var(--s);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.container-cadastro{
    padding: 40px;
    display: flex;
    gap: 30px;
    min-height: 90vh;
    background: #e2e8f0;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#formulario, #lista{
    background: white;
    padding: 25px;
    border-radius: 10px;
    flex: 1;
    min-width: 300px;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#formulario h2, #lista h2{
    color: var(--p);
    margin-top: 0;
    border-bottom: 2px solid var(--p);
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.inputGroup input, .inputGroup select{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

.inputGroup label{
   font-weight: bold;
   margin-bottom: 5px;
   color: var(--p);

}

#formulario button{
    width: 100%;
    height: 45px;
    font-size: 16px;
    margin-top: 10px;
}

table{
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th{
    background-color: var(--p);
    color: white;
}