:root { --p: #152130; --s: #99a6ba; --d: #e74c3c; }

body{
    font-family: cursive;
    background: #eee;
    margin: 0;

}

header{
    background: var(--p);
    color: #c4cad3;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 50px;
    height: 10vh;
    border-bottom: 1px solid var(--s);
}

header a{
    text-decoration: none;
    color: #c4cad3;
    text-transform: uppercase;
}

#menuCadastro {
    text-align: center;
    display: flex;
    gap: 20px;
}

button{
    height: 30px;
    width: 150px;
    cursor: pointer;
    border: solid;
    background: var(--p);
    color: var(--s);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.container{
    padding: 0;
    margin: 0;
    height: 90vh;
    background-image: url(../img/34469ca834d39f9092ccb6d8e5d22d73.jpg);
    background-size: cover;
    background-position: center;
}